
.video-preview-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 300px;
  padding-left: 30px;
  padding-right: 30px;
}

.video-preview
{
  box-sizing: border-box;
  padding: 0px 0px;
  width: 100%;
  background: var(--box_bg);
  box-shadow: 0px 2px 6px var(--shadow);
  margin-bottom: 30px;
  display: flex;
}

.video-preview-text
{
  margin: 10px 30px;
  display: inline-block;
}

.video-media
{
  width: 500px;
  height: 281px;
  flex-shrink: 0;
}

.video-media iframe
{
  width: 100%;
  height: 100%;
}

.video-preview img
{
  width: 100%;
}

.video-preview-text h2
{
  width: 100%;
  font-size: 24px;
  padding: 10px 0px;
  text-align: left;
  margin: 0px 0px;
  font-weight: normal;
  
}

.video-preview-desc
{
  font-family: var(--font-content);
  font-size: 14px;
  letter-spacing: 0px;
}
