@font-face {
  font-family: 'IndustryBold';
  src: url('./fonts/Industry_Bold.woff') format('woff');
}


:root
{
  --text: rgb(255, 255, 255);
  --background: rgb(75, 75, 75);
  --menu_background: rgb(43, 43, 43);
  --menu_item_hover: rgb(94, 94, 94);
  --border: rgb(139, 139, 139);
  --text_menu : rgb(248, 248, 248);
  --primary : rgb(245, 78, 1);
  --logo: rgb(255, 94, 0);
  --box_bg: #444;
  --shadow: rgb(26, 26, 26);
  --error: rgb(255, 94, 94);
  --row : #5e5e5e;
  --row_hover: #858585;
  --alt_row : rgb(231, 231, 231);
  --font-content: "Open Sans",sans-serif;
  --font-heading: "IndustryBold";
  --font-default: "Exo 2, Helvetica Neue",Tahoma,Arial,"Hiragino Kaku Gothic ProN",Meiryo,"Microsoft YaHei","Apple SD Gothic Neo",sans-serif;
}



body {
  margin: 0;
  font-family: var(--font-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text);
  padding-top: 48px;
  width: 1000px;
  margin: 0 auto;
  overflow-y:scroll;
  letter-spacing: 1px;
  background-image: url(/img/bg.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn
{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  color: var(--text);
}

.video
{
  border: 0px;
  width: 800px;
  height : 450px;
  margin: 0px auto;
}

.video iframe
{
  width: 100%;
  height: 100%;
}

#body
{
  background: var(--background);
  min-height: 800px;
}