.leaderboard
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-collapse: collapse;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.leaderboard th
{
  background : var(--menu_background);
  color: var(--text_menu);
  padding: 6px 10px;
}

.leaderboard tr
{
  height: 34px;
  border-bottom: 1px solid var(--border);
}

.leaderboard tr:nth-child(even)
{
  background: var(--alt_row);
}

.leaderboard tr:hover
{
  background: var(--logo);
  color: white;
  cursor: default;
}

.leaderboard td
{
  line-height: 34px;
  padding: 0px 4px;
}


