.leaderboard-container
{
  padding: 30px 40px;
}

.leaderboard
{
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0px 3px;
  padding: 0px 30px;
  font-size: 14px;
}



.leaderboard th
{
  background : var(--menu_background);
  color: var(--text_menu);
  padding: 6px 10px;
}

.leaderboard tr
{
  background: var(--row);
  height: 34px;
}

tr.spaceUnder>td {
  padding-bottom: 2em;
}

.leaderboard tr:hover
{
  background: var(--row_hover);
  cursor: default;
}

.leaderboard td
{

  line-height: 34px;
  padding: 0px 4px;
}

.leaderboard td:first-child
{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.leaderboard td:last-child
{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.td-player
{
  width: 200px;
  text-align:left;
  padding-left: 10px;
}

.td-country
{
  width: 30px;
}

.td-country img{
  position: absolute;
  margin-top: -14px;
  margin-left: -14px;
  height: 28px;
  width: 28px;
}

