.Navbar 
{
  text-align: center;
  background: var(--menu_background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.nav-container
{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 48px;
  text-decoration: none;
}

.nav-container a
{
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}


.nav-container a:hover, .nav-login:hover
{
  background: var(--menu_item_hover);
}

.nav-logo
{
  flex: 2;
}

.nav-item
{
  flex: 1;
  font-size: 18px;
}

.nav-item.active
{
  background: red !important;
}


.nav-login
{
  cursor: pointer;

}
