.Navbar 
{
  text-align: center;
  background: var(--menu_background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.nav-container
{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 48px;
  text-decoration: none;
}

.nav-container a
{
  text-decoration: none;
  color: var(--text);
  
}

.nav-container a:hover
{
  background: var(--menu_item_hover);
  cursor: pointer;
}

.nav-logo
{
  flex: 2;
}

.nav-item
{
  flex: 1;
  font-size: 18px;
}
