.Navbar 
{
  text-align: center;
  background: var(--menu_background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 4px 8px var(--shadow);
  font-family: var(--font-heading);
}


.nav-container
{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  font-size: 18px;
  
  line-height: 52px;
  letter-spacing: 1.4px;
  text-decoration: none;
}

.nav-container a
{
  padding-top: 2px;
  text-decoration: none;
  color: var(--text_menu);
  cursor: pointer;
}


.nav-container a:hover, .nav-login:hover
{
  background: var(--menu_item_hover);
}

.nav-logo
{
  flex: 2;
  color: var(--logo) !important;
  font-weight: bold;
}

.nav-item
{
  flex: 1;
  font-size: 14px;
}

.nav-item.active
{
  background: var(--primary) !important;
  transition: 150ms;
  transition-timing-function: ease-out;
}


.nav-login
{
  padding-top: 2px;
  letter-spacing: 1.4px;
  cursor: pointer;
  color: var(--text_menu);
  width: 200px;
}


.profile-menu
{
  position: absolute;
}

.profile-menu-item
{
  display:block;
  width: 200px;
  cursor: pointer;
  background: var(--menu_background);
}

.profile-menu a:hover, .profile-menu-item:hover
{
  background: var(--menu_item_hover);
}
