
.track-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 300px;
}

.track
{
  box-sizing: border-box;
  display: block;
  min-width: 238px;
  max-width: 238px;
  color: var(--text);
  text-decoration: none;
  margin: 6px 6px;
  background: var(--menu_background);
  border: 1px solid var(--text);
}

.track:hover
{
  background: var(--menu_item_hover);
}

.track img
{
  box-sizing: border-box;
  width:100%;
  border-bottom: 1px solid var(--text);
  margin: 0 0;
}

.track-name
{
  height: 40px;
  line-height: 36px;
  text-align: center;
}
